.dialog{
  background-color: #25273c;
  color: white;
  padding: 25px;
  width: 500px;

  p{
    color: white;
  }
}

mat-dialog-container {
  background-color: greenyellow !important;
}


@media (max-width: 700px) {
  .dialog {
    width: auto !important;
  }
}
