.todo-new {
  margin-bottom: 60px;
  #form{
    color: white;
    display: flex;
    background: #25273c;
    font-size: 14px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;

    mat-checkbox{width: 10%;}

    input{
      all:unset;
      background-color: transparent;
      color: white;
      width: 80%;
    }

    #create{
      display: flex;
      justify-content: center;
      width: 10%;
      cursor: pointer;
      mat-icon{
      display: flex;
      justify-content: center;
      }
      }

  }

  #error_message{
    padding: 10px 0 0 10px;
    color: red;
  }

  span{
    cursor: pointer
  }
}
