.page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: #171717;
  padding: 0 35%;
  #header{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 60px 0;


    #title{
      font-size: 30px;
    }
  }
  #filter{
    margin-bottom: 30px;
  }

}
