.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: #171717;
  box-sizing: border-box;

  #content {
    margin: auto;
    width: 600px;
    #header {
      display: flex;
      justify-content: space-between;
      color: white;
      margin: 60px 0;


      #title {
        font-size: 30px;
      }
    }

    #filter {
      margin-bottom: 30px;
    }

  }
}

@media (max-width: 700px) {
  #content {
    width: 350px !important;
  }
}
