.todo-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  border-radius: 15px;
  overflow: hidden;

  #filter{
    user-select: none;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #25273c;
    color: grey;
    border-radius: 0 0 15px 15px;

    .selected{
      color: aqua;
    }
    span{
      margin-right: 10px;
      cursor: pointer;
    }

  }

  #instructions{
    margin: 30px 0 100px 0;
    text-align: center;
    color: grey;
  }

  #no_todos{
    margin-top: 30px;
    text-align: center;
    color: grey;
  }
}

@media (max-width: 700px) {
  #filter {
    flex-direction: column;
    align-items: center;
  }

  .filters {
    order: 1; /* Mueve los filtros hacia arriba */
    width: 100%;
    justify-content: space-evenly;
  }

  .action {
    order: 2; /* Mueve los botones de acción hacia abajo */
    width: 100%;
    margin-top: 10px;
  }
}
