.todo-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  border-radius: 15px;
  overflow: hidden;

  #filter{
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #25273c;
    color: grey;
    border-radius: 0 0 15px 15px;

    .selected{
      color: aqua;
    }
    span{
      margin-right: 10px;
      cursor: pointer;
    }

  }

  #instructions{
    margin: 30px 0 100px 0;
    text-align: center;
    color: grey;
  }

  #no_todos{
    margin-top: 30px;
    text-align: center;
    color: grey;
  }
}
