
.todo_filter {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  color: white;
  display: flex;
  background: rgba(37, 39, 60, 0.5);
  font-size: 14px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  margin-bottom: 15px;

  span{
    text-align: center;
    width: 33.3%;
    cursor: pointer
  }
}

.todo_actions{
  display: flex;
  justify-content: space-between;
  color: rgb(172, 170, 170);

  span{
    text-align: center;
    width: 33.3%;
    cursor: pointer
  }
}
