
.todo-filter {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  color: white;
  display: flex;
  background: rgba(37, 39, 60, 0.5);
  font-size: 14px;
  border-radius: 15px;
  backdrop-filter: blur(10px);

  span{
    cursor: pointer
  }
}
